In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [10]:
import os
import pandas as pd
from sqlalchemy import create_engine, inspect
import pymysql

from db_utils import *

In [ ]:
S_DATA = os.path.join('..','sample_data.csv')
load_to_table(CLEAN_FX_RATE_DATA, FO_FX_RATES)

In [18]:
CLEAN_SAMPLE_DATA = os.path.join('sample_data.csv')
load_to_table(CLEAN_SAMPLE_DATA, sample_data)

Writing 60000 rows, 6 columns to table sample_data

  Store_id Item_id  Quantity        Date                 CREATED_DT CREATED_BY
0  store_0  item_0        26  2019-05-01 2019-10-09 20:45:47.104058    di_user
1  store_0  item_0        17  2019-05-02 2019-10-09 20:45:47.104058    di_user
2  store_0  item_1        47  2019-05-01 2019-10-09 20:45:47.104058    di_user
3  store_0  item_1        45  2019-05-02 2019-10-09 20:45:47.104058    di_user
4  store_0  item_2        18  2019-05-01 2019-10-09 20:45:47.104058    di_user